<html>

	<head>

		<title>PUPILS: THE GAME | DETECT!</title>
		
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.1/foundation.min.css">
		<link rel="stylesheet" href="/css/style.css">
		
		<meta charset="utf-8" /> 
		<script src="/js/Ellipse.js"></script>
		<script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
		<script src="https://cdn.jsdelivr.net/foundation/6.2.1/foundation.min.js"></script>

	</head>

	<body>
	
		<div class="top-bar">
		
		<div class="top-bar-left">
		
			<ul class="dropdown menu">
				
				<li class="menu-text">Logged in as: {{ user.username }}</li>
				<li class="menu-text">Points in this session: {{ nclicks }}</li>
				
				{% if clicksLeft <= 0 %}
				<li class="menu-text">You are the leader!</li>
				{% else %}
				<li class="menu-text">Clicks left to go up one position: {{ clicksLeft }}</li>
				{% endif %}
                                
                                
			
			</ul>
		
		</div>
		
		<div class="top-bar-right">
			<ul class="menu">
                            <li class="menu-text"> Click at least four times on the edge of pupil</li>
                            <li  class="menu-text">Click count:</li>
                            <li  class="menu-text" id="clicks">0</li>
                            <li><a style="margin-right: 3px; visibility: hidden" id="next-button" class="button"# href="{{ url('image') }}">Next Picture</a></li>
                            <li><a class="button"# href="{{ url('exit') }}">Logout</a></li>
			</ul>
		</div>
		
		</div>
		
		<div class="margin-top">
                    <canvas class="canvas-centered" id="eye">YOUR BROWSER SUCKS AND THIS WON'T WORK. UPDATE NOW!</canvas>
		</div>
                
                <div class ="bottom-bar">
                </div>
		
		<script>

			var cnv = document.getElementById('eye');
			var ctx = cnv.getContext('2d');
                        var clickcount = 0;
                        
			var imageObj = new Image();
			imageObj.onload = function() {

				ctx.canvas.width = this.width;
				ctx.canvas.height = this.height;								
				ctx.drawImage(imageObj, 0, 0);

			}
			imageObj.src = "/img/{{ image.filename }}";

			cnv.addEventListener("mousedown", doClick, false);

			function doClick(event) {

				var t = '{{ token }}';					
				clickcount++;
                                
                                if (clickcount == 4) {
                                    document.getElementById('next-button').style.visibility="visible";
                                }
                                
				var x = event.offsetX?(event.offsetX):event.pageX-document.getElementById("eye").offsetLeft;
				var y = event.offsetY?(event.offsetY):event.pageY-document.getElementById("eye").offsetTop;	
                                document.getElementById("clicks").innerHTML = clickcount;    
				$.ajax({

					url:"{{ url('image') }}",
					type:"POST",
					success:function(data) {
						var d = JSON.parse(data);
						if(d.msg === "ERR") {
							alert("Not accurate enough! Keep on going, please!");
						}
						//window.location.href = "{{ url('image') }}";
					},
					data:{"t":t,"x":x,"y":y}
				});
				
			}
                        
                        

		</script>
		
	</body>
	
</html>
